#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
button {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: none;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: large;
  font-weight: bold;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
button:active {
  background-color: rgba(0, 0, 0, 0.1);
}
.control {
  border: 3px solid orangered;
}
.operator {
  background-color: orangered;
}
.operator:hover {
  background-color: rgba(255, 68, 0, 0.564);
}
.operator:active {
  background-color: rgba(255, 68, 0, 0.128);
}
#calculator {
  width: 350px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.708);
}
